{{#config}}
<form role="form">
	<div class="form-group">
		<label for="www">WWW Directory</label>
		<input type="text" class="form-control" id="www" placeholder="Enter path to WWW administrator" value="{{www}}" />
	</div>
	<div class="form-group">
		<label for="wwwPort">Port to run WWW administrator on</label>
		<input type="text" class="form-control" id="wwwPort" placeholder="Port number to bind web server to" value="{{wwwPort}}" />
	</div>
	<div class="form-group">
		<label for="smtpAddress">Enter address to run SMTP server against</label>
		<input type="text" class="form-control" id="smtpAddress" placeholder="Address for SMTP server (e.g. 0.0.0.0)" value="{{smtpAddress}}" />
	</div>
	<div class="form-group">
		<label for="smtpPort">Port to run SMTP server on</label>
		<input type="text" class="form-control" id="smtpPort" placeholder="Port number to bind SMTP server to" value="{{smtpPort}}" />
	</div>
	<div class="form-group">
		<label for="dbEngine">Data storage engine</label>
		<select class="form-control" id="dbEngine">
			<option value="sqlite">SQlite</option>
			<option value="mysql">MySQL 5.5+</option>
			<option value="mssql">Microsoft SQL Server 2008+</option>
		</select>
	</div>
	<div class="form-group">
		<label for="dbHost">Host name of the database server (not applicable to SQlite)</label>
		<input type="text" class="form-control" id="dbHost" placeholder="Host name of the database server" value="{{dbHost}}" />
	</div>
	<div class="form-group">
		<label for="dbPort">Port database server is bound to (not applicable to SQlite)</label>
		<input type="text" class="form-control" id="dbPort" placeholder="Port database server is bound to" value="{{dbPort}}" />
	</div>
	<div class="form-group">
		<label for="dbDatabase">Name of the database that will hold mail items (not applicable to SQlite)</label>
		<input type="text" class="form-control" id="dbDatabase" placeholder="Name of the database that will hold mail items" value="{{dbDatabase}}" />
	</div>
	<div class="form-group">
		<label for="dbUserName">User name for database server (not applicable to SQlite)</label>
		<input type="text" class="form-control" id="dbUserName" placeholder="User name for database server" value="{{dbUserName}}" />
	</div>
	<div class="form-group">
		<label for="dbPassword">Password for database server (not applicable to SQlite)</label>
		<input type="text" class="form-control" id="dbPassword" placeholder="Password for database server" value="{{dbPassword}}" />
	</div>

	<button type="button" on-click="save" class="btn btn-primary">Save Settings</button>
</form>
{{/config}}
