{{#subject.length > 0}}
	<div class="well">
		<table class="table table-condensed">
			<tr>
				<td><strong>Subject:</strong></td>
				<td>{{subject}}</td>
			</tr>
			<tr>
				<td><strong>Date Sent:</strong></td>
				<td>{{dateSent}}</td>
			</tr>
			<tr>
				<td><strong>From:</strong></td>
				<td>{{fromAddress}}</td>
			</tr>
		</table>

		<div>
			{{#attachments}}
				<a on-click="openAttachment" class="attachmentLink"><span class="label label-info">{{fileName}}</span></a>
			{{/attachments}}
		</div>
	</div>

	<div class="mail-view">
		{{{mailView}}}
	</div>
{{/subject.length > 0}}

{{#subject.length <= 0}}
	<div class="alert alert-info">
		Select a mail to view details
	</div>
{{/subject.length <= 0}}
