<!DOCTYPE html>
<!--
// Copyright 2013-2018 Adam Presley. All rights reserved
// Use of this source code is governed by the MIT license
// that can be found in the LICENSE file.
-->
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="MailSlurper Server - Slurps mail into oblivion!" />
	<meta name="author" content="Adam Presley <adam@adampresley.com>" />

	<link rel="icon" href="/www/mailslurper/images/favicon.ico" />

	<title>Login // MailSlurper</title>

	<link href="/www/mailslurper/themes/{{.Theme}}/bootstrap.css" rel="stylesheet" id="themeBootstrapStylesheet" />
	<link href="/www/fontawesome/css/font-awesome.css" rel="stylesheet" />
	<link href="/www/lightbox2/css/lightbox.css" rel="stylesheet" />
	<link href="/www/bootstrap-dialog/css/bootstrap-dialog.css" rel="stylesheet" />
	<link href="/www/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="/www/mailslurper/themes/{{.Theme}}/style.css" rel="stylesheet" id="themeStylesheet" />
	<link href="/www/mailslurper/css/login.css" rel="stylesheet" />
</head>

<body>
	<div class="container body-container">
		{{template "body" .}}
	</div>
	<!-- /.container -->
</body>

<script src="/www/npo/npo.js"></script>
<script src="/www/moment/moment.js"></script>
<script src="/www/handlebars/handlebars.js"></script>
<script src="/www/jquery/jquery.js"></script>
<script src="/www/blockui/jquery.blockUI.js"></script>
<script src="/www/bootstrap/js/bootstrap.js"></script>
<script src="/www/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/www/bootstrap-dialog/js/bootstrap-dialog.js"></script>
<script src="/www/bootstrap-growl/jquery.bootstrap-growl.js"></script>
<script src="/www/lightbox2/js/lightbox.js"></script>
<script src="/www/mailslurper/js/services/SettingsService.js"></script>
<script src="/www/mailslurper/js/services/AuthService.js"></script>

{{template "js" .}}

</html>