{{define "css"}}
{{end}}

{{define "body"}}
<div id="mailList"></div>
<div id="searchMailModal"></div>
{{end}}

{{define "js"}}
	<script src="{{.PublicWWWURL}}/www/mailslurper/js/controllers/HomeController.js"></script>
{{end}}
