{{define "css"}}
{{end}}

{{define "body"}}
<div id="savedSearches"></div>
{{end}}

{{define "js"}}
	<script src="{{.PublicWWWURL}}/www/mailslurper/js/controllers/ManageSavedSearchesController.js"></script>
{{end}}
