
.ui-layout-pane {
	background:	#FFF;
	border:		1px solid #BBB;
	overflow:	auto;
}

.ui-layout-content {
	padding:	10px;
	position: relative;
	overflow: auto;
}

.layout-child-container,
.layout-content-container {
	padding:	0;
	overflow: hidden;
}

.layout-child-container {
	border: 0;
}

.layout-scroll {
	overflow:	auto;
}

.layout-hide {
	display:	none;
}

.ui-layout-resizer {
	background: #DDD;
	border: 1px solid #BBB;
	border-width: 0;
}

.ui-layout-resizer-drag {
}

.ui-layout-resizer-hover {
}

.ui-layout-resizer-open-hover,
.ui-layout-resizer-dragging {
	background: #C4E1A4;
}

.ui-layout-resizer-dragging {
	border: 1px solid #BBB;
}

.ui-layout-resizer-north-dragging,
.ui-layout-resizer-south-dragging {
	border-width: 1px 0;
}

.ui-layout-resizer-west-dragging,
.ui-layout-resizer-east-dragging {
	border-width: 0 1px;
}

.ui-layout-resizer-dragging-limit {
	background: #E1A4A4;
}

.ui-layout-resizer-closed-hover {
	background: #EBD5AA;
}

.ui-layout-resizer-sliding {
	opacity: .10;
	filter: alpha(opacity=10);
}

.ui-layout-resizer-sliding-hover {
	opacity: 1.00;
	filter: alpha(opacity=100);
}

.ui-layout-resizer-north-sliding-hover	{ border-bottom-width:	1px; }
.ui-layout-resizer-south-sliding-hover	{ border-top-width:		1px; }
.ui-layout-resizer-west-sliding-hover	{ border-right-width:	1px; }
.ui-layout-resizer-east-sliding-hover	{ border-left-width:	1px; }

.ui-layout-toggler {
	border: 1px solid #BBB; /* match pane-border */
	background-color: #BBB;
	}
	.ui-layout-resizer-hover .ui-layout-toggler {
		opacity: .60;
		filter:  alpha(opacity=60);
	}
	.ui-layout-toggler-hover , /* need when NOT resizable */
	.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
		background-color: #FC6;
		opacity: 1.00;
		filter:  alpha(opacity=100);
	}
	.ui-layout-toggler-north ,
	.ui-layout-toggler-south {
		border-width: 0 1px; /* left/right borders */
	}
	.ui-layout-toggler-west ,
	.ui-layout-toggler-east {
		border-width: 1px 0; /* top/bottom borders */
	}
	/* hide the toggler-button when the pane is 'slid open' */
	.ui-layout-resizer-sliding  .ui-layout-toggler {
		display: none;
	}
	/*
	 *	style the text we put INSIDE the togglers
	 */
	.ui-layout-toggler .content {
		color:			#666;
		font-size:		12px;
		font-weight:	bold;
		width:			100%;
		padding-bottom:	0.35ex; /* to 'vertically center' text inside text-span */
	}

/*
 *	PANE-MASKS
 *	these styles are hard-coded on mask elems, but are also
 *	included here as !important to ensure will overrides any generic styles
 */
.ui-layout-mask {
	border:		none !important;
	padding:	0 !important;
	margin:		0 !important;
	overflow:	hidden !important;
	position:	absolute !important;
	opacity:	0 !important;
	filter:		Alpha(Opacity="0") !important;
}
.ui-layout-mask-inside-pane { /* masks always inside pane EXCEPT when pane is an iframe */
	top:		0 !important;
	left:		0 !important;
	width:		100% !important;
	height:		100% !important;
}
div.ui-layout-mask {}		/* standard mask for iframes */
iframe.ui-layout-mask {}	/* extra mask for objects/applets */

/*
 *	Default printing styles
 */
@media print {
	/*
	 *	Unless you want to print the layout as it appears onscreen,
	 *	these html/body styles are needed to allow the content to 'flow'
	 */
	html {
		height:		auto !important;
		overflow:	visible !important;
	}
	body.ui-layout-container {
		position:	static !important;
		top:		auto !important;
		bottom:		auto !important;
		left:		auto !important;
		right:		auto !important;
		/* only IE6 has container width & height set by Layout */
		_width:		auto !important;
		_height:	auto !important;
	}
	.ui-layout-resizer, .ui-layout-toggler {
		display:	none !important;
	}
	/*
	 *	Default pane print styles disables positioning, borders and backgrounds.
	 *	You can modify these styles however it suit your needs.
	 */
	.ui-layout-pane {
		border:		none !important;
		background:	 transparent !important;
		position:	relative !important;
		top:		auto !important;
		bottom:		auto !important;
		left:		auto !important;
		right:		auto !important;
		width:		auto !important;
		height:		auto !important;
		overflow:	visible !important;
	}
}

.ui-layout-north { height: 35px !important; overflow: hidden; }
.ui-layout-south { overflow: hidden; }
.ui-layout-center { overflow-x: hidden; }