/*
Copyright 2013-2018 Adam Presley. All rights reserved
Use of this source code is governed by the MIT license
that can be found in the LICENSE file.
*/
.logo-container {
	margin: 15px auto;
	text-align: center;
	margin-bottom: 25px;
}

.logo-container img {
	max-width: 40%;
}

.login-box {
	max-width: 35%;
	margin: 0 auto;
}