/*
Copyright 2013-2018 Adam Presley. All rights reserved
Use of this source code is governed by the MIT license
that can be found in the LICENSE file.
*/

/*
 * MailSlurper Server
 */
.body-container {
	padding: 0px;
	margin: 55px 0px 0px 0px;
	width: 99%;
}

.date-range-picker {
	background-color: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 100%;
}

.downloadAttachment {
	color: white;
}

.downloadAttachment:hover {
	color: white;
}

.downloadAttachment:visited {
	color: white;
}

.label-right-margin {
	margin-right: 10px;
}

.mail-list-navbar {
	margin-bottom: 0px;
	padding: 0px;
	min-height: 1px;
}

.mail-list-navbar .navbar-btn {
	margin-top: 2px;
	margin-bottom: 2px;
}

.mail-list-row-highlight {
	background-color: aliceblue !important;
	font-weight: bold !important;
}

.margin-right-10 {
	margin-right: 10px;
}

.nav-container {
	margin-left: 0px;
}

.padding-right-0 {
	padding-right: 0px;
}

.pointer {
	cursor: pointer;
}

#showSearchFilters { padding: 8px 12px 8px 12px; }

.mailSlurperLogoLink {
	padding: 0px 15px;
}

.mailSlurperLogo {
	height: 50px;
	width: auto;
}

/*
 * Bootstrap
 */
.pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}

.popover.left {
	margin-left: -145px;
	max-width: 425px;
}

.label {
	padding: 6px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
}

.user-greeting {
	color: white;
	padding-top: 15px;
}

.logout {
	display: inline !important;
	padding: 0 !important;
}

/*
 * BlockUI
 */
.blockMsg {
	display: inline-block;
	background-color: #333 !important;
	color: #f5f5f5 !important;
	padding: 20px !important;
	border-radius: 4px !important;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #888 !important;
	/* needed for IE */

	filter: alpha(opacity=100);
}
