<!--
// Copyright 2013-2018 Adam Presley. All rights reserved
// Use of this source code is governed by the MIT license
// that can be found in the LICENSE file.
-->
<div class="form-group">
	<label for="savedSearchID">Saved Search:</label>
	<select id="savedSearchID" class="form-control">
		{{#each savedSearches}}
			<option value="{{@index}}">{{name}}</option>
		{{/each}}
</div>