<!--
// Copyright 2013-2018 Adam Presley. All rights reserved
// Use of this source code is governed by the MIT license
// that can be found in the LICENSE file.
-->
<div class="form-group">
	<label for="txtName">Name:</label>
	<input type="text" class="form-control" id="txtSaveSearchName" maxlength="50" />
</div>