<div class="form-group">
	<label for="txtMessage">Subject or Message:</label>
	<input type="text" id="txtMessage" maxlength="255" class="form-control" />
</div>

<div class="form-group">
	<label for="dateRange">Date Range:</label>
	<div id="dateRange" class="date-range-picker">
		<i class="fa fa-calendar"></i>&nbsp;
		<span></span><b class="caret"></b>
	</div>
</div>

<hr />

<button type="button" id="btnOpenSavedSearches" class="btn btn-default"><i class="fa fa-filter"></i> Saved Searches</button>
